.wrapper {
  overflow: hidden;
  position: relative;
  padding-bottom: 6%;
}
[class*="__container"] {
  max-width: 1030px;
  margin: 0 auto;
}
.header {
  margin: 46px 0 17px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  height: 61px;
}
.header__logo {
  display: flex;
  margin: 5px 0;
}
.header-logo:hover .logo-white {
  display: none;
}
.header-logo__image {
  width: 53px;
  height: 47px;
  margin-right: 8px;
}
.logo-orange {
  display: none;
}
.header-logo:hover {
  color: #f26522;
}
.header-logo:hover .logo-orange {
  display: block;
}
.header-logo__text {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: flex-end;
}
.header-logo__text > span:first-child {
  font-size: 29px;
  line-height: 100%;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contacts__email {
  margin-bottom: 19px;
}
.contacts__email:hover {
  color: #f26522;
}
.contacts__tel:hover {
  color: #f26522;
}
.main-block__items {
    position: relative;
}
.main-block__item {
    position: absolute;
    width: 300px;
}
.main-block__link:hover .orange-block {
  bottom: 0;
  transition: all 0.7s ease 0s;
}
.main-block__link:hover .main-block__text {
  color: #f26522;
  transition: all 0.9s ease 0s;
}
.main-block__item:nth-child(1){
    top: 0;
    left: 6px;
}
.main-block__item:nth-child(2){
    top: 0;
    left: 367px;
}
.main-block__item:nth-child(3){
    top: 0;
    left: 729px;
}
.main-block__item:nth-child(4){
    top: 298px;
    left: 4px;
}
.main-block__item:nth-child(5){
    top: 298px;
    left: 368px;
}
.main-block__item:nth-child(6){
    top: 298px;
    left: 731px;
}
.main-block__content {
    width: 300px;
    height: 220px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.main-block__image::before  {
  content: "";
  border-left: 2px solid #000;
  width: 2px;
  height: 100%;
  display: block;
}
.orange-block {
  position: absolute;
  background-color: #f26522;
  width: 100%;
  height: 55px;
  bottom: -100px;
  left: 0;
  padding: 7px 16px 12px;
  display: flex;
  justify-content: space-between;
}
.orange-block__price {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.orange-block__price span:nth-child(1) {
  font-size: 10px;
  padding-bottom: 8px;
}
.orange-block__details {
  font-size: 14px;
  align-self: flex-end;
}
.orange-block__details::after {
  content: "";
  background: url(../img/arrow.svg);
  z-index: 10;
  display: inline-block;
  width: 7px;
  height: 11px;
  margin-left: 16px;
}
.main-block__text {
    text-align: center;
}
.footer {
    margin: 630px 0 15px 0;
}
.footer__copyright {
    text-align: center;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
  z-index: -5;
}
